.auth-form {
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-control {
    margin-bottom: 1rem;
}
.form-control label {
    margin-bottom: 0.5rem;
}
.form-control input {
    font-size: 1.5rem;
    height: 1.7rem;
    padding-left: 5px;
    border: 1px solid #01d1d1;
    border-radius: 3px;
    transition: 400ms;
}
.form-control label,
.form-control input {
    display: block;
    width: 100%;
}
.form-control input:focus {
    outline: none;
    border: 1px solid #a200ff;
}

.form-actions button {
    font: inherit;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    color: #182c01;
    border: 1px solid #01d1d1;
    border-radius: 3px;
    background: #01d1d1;
    box-shadow: 1px 1px 5px rgba(0,0,0, .26);
    cursor: pointer;
    transition: 400ms;
}
.form-actions button:hover,
.form-actions button:active {
    background: #a5fafa;
    border: 1px solid #a5fafa;
}
